@font-face {
    font-family:'Gangster Grotesk';
        src:
        url('../fonts/gangstergrotesk-regular.ttf') format('truetype'),
        url('../fonts/gangstergrotesk-bold.ttf') format('truetype');
   }

@font-face {
    font-family:'Inter';
    src:
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-Bold.woff') format('woff');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 32px 24px 0 24px;
}

.navigation__buttons {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: #111;
}

.header {
    max-width: 1180px;
    margin: 0 auto 80px;
}

.header__text-box {
    margin-top: 96px;
}

.header__logo-box {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    font-family: 'Gangster Grotesk';
    font-weight: 500;
}

.heading-primary--main {
    display: flex;
    align-content: flex-end;
    width: 640px;
    margin: 0 auto;
    text-align: center;
    font-size: 144px;
    line-height: 128px;
    font-family: 'Gangster Grotesk';
    font-weight: 800;
    color: #fff;
}

.heading-primary--sub {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    font-family: 'Gangster Grotesk';
    font-weight: 100;
}

.absolute {
    top: 50px;
    left: 40px;
    position: absolute;
    width: 240px;
}

.header__sketch {
    margin-right: 32px;
    margin-left: 92px;
    margin-bottom: 8px;
}

.header__figma {
    margin-left: 40px;
    margin-bottom: 8px;
}

.header__arrow-box {
    display: flex;
    margin-top: 48px;
}

.header__arrow-down {
    margin: 0 auto;
}

.section-about {
    display: flex;
    margin-top: 128px;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
}

.section-about__heading {
    margin: 0 auto;
}

.heading-tertriary {
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    font-family: 'Gangster Grotesk';
    font-weight: 100;
    margin-bottom: 0;
}

.section-about__picture {
    margin: 0 auto;
    margin-top: 96px;
}

.section-guide {
    display: flex;
    margin-top: 144px;
}

.banner {
    display: flex;
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    background: linear-gradient(279.74deg, #C095FA 4.68%, #5651FF 95.39%);
    border-radius: 16px;
    margin-bottom: 151px;
}

.banner__text {
    width: 70%;
    margin: 32px 0 44px 56px;
}

.heading-secondary {
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    font-family: 'Gangster Grotesk';
    font-weight: 100;
    margin: 16px 0px 16px 0;
    font-weight: 500;
}

.paragraph {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    font-family: 'Gangster Grotesk';
    font-weight: 100;
}

.btn--black {
    background-color: #000;
    color: #fff;
    padding: 16px 40px;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
 }

 .btn--primary {
    background: #5651FF;
    color: #fff;
    padding: 16px 40px;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
 }

 .btn--tertriary {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 16px 40px;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
 }

 .banner__cta {
    flex-direction: column;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 56px;
    padding-top: 24px;
}

.banner__notion {
    display: block;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Inter';
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 8px;
}

.notion_logo {
    text-decoration: none;
    width: 16px;
    height: 16.68px;
    margin: 0 4px 0 4px;
}

.notion__link {
    text-decoration: underline;
}

.btn {
    display: inline;
}

.section-features {
    display: flex;
    justify-content: space-between;
    margin: 0 80px 151px 80px;
    align-items: flex-end;
    max-width: 1180px;
    margin: 0 auto 151px;
}

.features__block {
    width: 22%;
}

.paragraph-body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter';
    font-weight: 400;
    color: #fff;
}

.paragraph-large {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Inter';
    font-weight: 400;
    color: #fff;
}
}

.features__block .heading-tertriary {
    margin: 16px 0 0 0;
}

.section-foundation {
    display: flex;
    margin: 0 80px 0px 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 144px;
    max-width: 1180px;
    margin: 0 auto 151px;
}

.foundation__block {
    background: linear-gradient(136.1deg, #222222 0%, #111111 100%);
    border-radius: 16px;
    width: 48%;
    margin: 0 0 64px 0;
}

.foundation__header {
    padding: 24px 24px 24px 54px;
    width: 70%;
}

.foundation__image {
    margin: 40px 0 -4px 0;
    width: 100%;
    height: 202px;
}

.foundation__block .paragraph {
    margin-bottom: 48px;
}

.section-onboard {
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
}

.section-onboard .heading-secondary {
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.onboard__block {
    display: flex;
    background: linear-gradient(118.67deg, #C095FA 18.59%, #F6D5DE 99.76%);
    border-radius: 16px;
    width: 52%;
    margin: 80px 0 64px 0;
    flex-wrap: wrap;
    padding: 48px 32px;
}

.onboard__block .heading-primary--main {
    text-align: left;
}

.onboard__header {
    width:75%;
    margin: 0 0 32px 0;
}

.onboard__pros {
    display: flex;
    width: 100%;
    margin: 0 0 48px 0;
}

.pros__col2 {
    margin: 0 0 0 40px;
}

.download {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.onboard__sketch {
    width: auto;
    height: 40px;
}

.onboard__figma {
    width: auto;
    height: 40px;
}

.compatible {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    text-align: left;
}

.onboard__block--questions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(121.94deg, #222222 0%, #111111 100%);
    text-align: center;
    border-radius: 16px;
    width: 30%;
    margin: 80px 0 64px 0;
    flex-wrap: wrap;
    padding: 48px 48px;
}

.onboard__header--questions {
    margin: 0 0 120px 0;
}

.footer {
    margin: 151px 0 0 0;
    padding: 64px 0 80px 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(180deg, #111111 0%, #5651FF 100%);
}

.footer__logo-box {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.footer__logo {
    width: 180px;
    margin: 0 0 24px 0;
}

.footer__description {
    display: block;
    width: 480px;
    margin: 0 auto;
}

.footer__copyright {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0 0 0;
    opacity: 0.2;
}

